@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
body{
  background: url(start.jpg) no-repeat;
  background-size: 100%;
}

h1 { color:#04b1e6;
    font-size: 50pt;
    font-weight: bold;
    font-family: "Noto Sans JP", sans-serif;
    margin-left: 38%;
    margin-top: 16%;
    letter-spacing:0.3em;}



a.entry {
    font-family: "Noto Sans JP", sans-serif;
    margin-left: 42.2%;
    font-size: 20px;
    margin-top: -2.5%;
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: .4em 3.5em;
    outline: none;
    border-width: 5px 0;
    border-style: solid none;
    border-color: hsl(199, 98%, 60%) #000 hsl(189, 95%, 43%);
    border-radius: 6px;
    background: linear-gradient(#0fbef3, #16c4e3) #16a2e3;
    transition: 0.2s;
  } 
  a.entry:hover { background: linear-gradient(#00bcf5, #009bf5) #00a7f5; }
  a.entry:active { background: linear-gradient(#00d8f5, #009bf5) #00c4f5; }
  
  a.check-in {
    font-family: "Noto Sans JP", sans-serif;
    margin-left: 42.2%;
    font-size: 20px;
    margin-top: 1.5%;
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: .4em 2em;
    outline: none;
    border-width: 5px 0;
    border-style: solid none;
    border-color: hsl(199, 98%, 60%) #000 hsl(189, 95%, 43%);
    border-radius: 6px;
    background: linear-gradient(#0fbef3, #16c4e3) #16a2e3;
    transition: 0.2s;
  } 
  a.check-in:hover { background: linear-gradient(#00bcf5, #009bf5) #00a7f5; }
  a.check-in:active { background: linear-gradient(#00d8f5, #009bf5) #00c4f5; }
