{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Смена пароля</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'users/css/entry.css' %}" type="text/css" />
    <script src="{% static 'users/js/entry.js' %}" defer></script>
  </head>
  <body>
   <h1>Смена пароля</h1>
 <p>Используйте форму ниже, чтобы сменить ваш пароль.</p>
 <form action="." method="post">
 {{ form.as_p }}
 <p><input type="submit" value="Подтвердить"></p>
 {% csrf_token %}
 </form>
  </body>
</html>