{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <style>
       @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
      body{
        background: url('settings.jpg') no-repeat;
      background-size: 100%;
      background-color: #50b3d0;
      font-family: "Noto Sans JP", sans-serif;
      }
      h1{
        color:white;
      }
      p{
        color:white;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Смена вашего пароля</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'users/css/entry.css' %}" type="text/css" />
    <script src="{% static 'users/js/entry.js' %}" defer></script>
  </head>
  <body>
  <h1>Смена вашего пароля</h1>
  <p>Мы отправили вам по электронной почте инструкции по смене пароля.</p>
 <p>Если вы не получили электронное письмо, убедитесь, что вы
 ввели тот адрес, на который вы зарегистрировались.</p>
  </body>
</html>
