{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{% static 'main/css/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="static/main/css/friends.css" />
        <meta charset="utf-8" />
        <title>Подписки</title>
    </head>
    <body>
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <ul class="navbar">
            <li><a href="/mypage"><i class="fa fa-fw fa-user-circle"></i> Профиль</a></li>
            <li><a href="/news"><i class="fa fa-fw fa-comment"></i> Новости</a></li>
            <li><a class="active" ><i class="fa fa-fw fa-users"></i> Подписки</a></li>
            <li><a href="/search"><i class="fa fa-search"></i> Поиск</a></li>
                <li><a><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Настройки</a>
            <ul>
          <li><a href="{% url 'edit' %}">Изменить профиль</a></li>
          <li><a href="{% url 'password_change' %}">Изменить пароль</a></li>
            </ul> </li>
        <li><a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i> Выход</a></li>
        </ul>
        <table class="nameing">
            <tr>
            <th>{% if user.profile.photo %}

                    <img src="{{ user.profile.photo.url }}" class="logo-login" alt="logo">
                        {% else %}
                      <img src="{% static 'main/css/runner.png' %}" class="logo-login" alt="logo">
                        {% endif %}</th>
            <td ><div class='name'>{{ request.user.username }}<div class='login'>@{{ request.user.id }}</div></div></td>
            </tr>
        </table>
        <form>
            <input type="text" placeholder="Ищите подписки...">
            <button type="submit"></button>
        </form>
       

            <div id="app" class="app">
            <div class="status">
              <div class="tweet-content">
                <img src="runner.png" class="logo" alt="logo">
                <div class="tweet">
                  <a id="name" >Namei</a>
                  <span>@login</span>
                  <p class="tweet-text">
                  workout
                    <table class="workout-index">
                      <tr class="tweet-index">
                        <td>Темп</td>
                        <td>Время</td>
                        <td>Расстояние</td>
                      </tr>
                      <tr>
                        <td>5:00 мин/км</td>
                        <td>30мин</td>
                        <td>6км</td>
                      </tr>
                    </table>
                    Количество сожженых калорий: 333 ккал
                  </p>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>
