{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{% static 'main/css/favicon.ico' %}" type="image/x-icon">
        <script src="static/main/js/friends.js" defer></script>
        <link rel="stylesheet" href="static/main/css/friends.css" />
        <meta charset="utf-8" />
        <title>Подписки</title>
    </head>
    <body>
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <ul class="navbar">
            <li><a href="/mypage"><i class="fa fa-fw fa-user-circle"></i> Профиль</a></li>
            <li><a href="/news"><i class="fa fa-fw fa-comment"></i> Новости</a></li>
            <li><a class="active" ><i class="fa fa-fw fa-users"></i> Подписки</a></li>
                <li><a><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Настройки</a>
            <ul>
          <li><a href="{% url 'edit' %}">Изменить профиль</a></li>
          <li><a href="{% url 'password_change' %}">Изменить пароль</a></li>
            </ul> </li>
        <li><a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i> Выход</a></li>
        </ul>
        <table class="nameing">
            <tr>
            <th>{% if user.profile.photo %}

                    <img src="{{ user.profile.photo.url }}" class="logo-login" alt="logo">
                        {% else %}
                      <img src="{% static 'main/css/runner.png' %}" class="logo-login" alt="logo">
                        {% endif %}</th>
            <td ><div class='name'>{{ request.user.username }}<div class='login'>@{{ request.user.id }}</div></div></td>
            </tr>
        </table>
        <form>
            <input type="text" placeholder="Ищите подписки...">
            <button type="submit"></button>
        </form>
        <div id="app" class="app">
        {% for user in users %}


            <div class="status">
                <div class="tweet-content">
                    <a href="{{ user.get_absolute_url }}">{% if user.profile.photo %}

                    <img src="{{ user.profile.photo.url }}" class="logo-login" alt="logo">
                        {% else %}
                        <th><img src="{% static 'main/css/runner.png' %}" class="logo-login" alt="logo"></th>
                        {% endif %}
                    </a>
                    <div class="tweet">
                        <a href="{{ user.get_absolute_url }}"><span>@{{user.username}}</span></a>
                        <p class="description">
                            {% if user.profile.profile_description %}
                            {{ user.profile.profile_description }}
                            {% else %}
                            {% endif %}
                            {% if user.profile.city %}
                            <p>{{ user.profile.city }},
                            {{ user.profile.country }}</p>
                            {% else %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </body>
</html>