{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- <script src="friends.js" defer></script> -->
        <link rel="stylesheet" href="static/main/css/settings.css" />
        <meta charset="utf-8" />
        <title>Настройки</title>
    </head>
    <body>
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <div class="navbar">
            <a href="/mypage"><i class="fa fa-fw fa-user-circle"></i> Профиль</a>
            <a href="/news"><i class="fa fa-fw fa-comment"></i> Новости</a>
            <a href="/friends"><i class="fa fa-fw fa-users"></i> Подписки</a>
            <a class="active" href="/settings"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Настройки</a>
            <a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i> Выход</a>
        </div>
        <div class="settings">
                <a class="button" href="{% url 'password_change' %}">Сменить пароль</a>
                <a class="button"  href="{% url 'edit' %}">Изменить личные данные</a>
        </div>
    </body>
</html>