{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="{% static 'main/css/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'users/css/start.css' %}" />
    <meta charset="utf-8" />
    <title>Авторизация</title>
  </head>
  <body>
    <div class="circle">
      <img src="{% static 'users/css/myrun.png' %}" alt="myrun">
      <h1>MyRun</h1>
      <a href="{% url 'login' %}" class= "entry">Войти</a>
      <br>
      <a href="{% url 'register' %}" class= "check-in">Регистрация</a>
    </div>
  </body>
</html>